@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:(--dark);
  background-image: url('https://slicedpixel.com/eventos/2019-12-07-Luiza/luiza-194_low.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.postit{
  position: relative;
  padding-top:30px;
  top:0;
  left: 50%;
  margin-left:-140px;
  width: 280px;
  height: 280px;
  text-align: center;
  background-color: yellow;
  color:blue;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  transform: rotate(-15deg);
  font-size: 2em;
  display: block;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.6);
  }

.eventos h2{
  background-color: rgba(0,0,0,0.8);
  margin-bottom: 0;
  padding:15px;
  color:white;
  text-decoration: none;
  border-radius: 10px 10px 0 0;
}